# Base de données (MariaDB centralisée)
DB_HOST=mariadb-central
DB_PORT=3306
DB_USER=root
DB_PASSWORD=your_db_password_here
DB_NAME=projet_location

# JWT
JWT_SECRET=change_me_to_a_long_random_string
JWT_EXPIRES_IN=24h
REFRESH_TOKEN_DAYS=30

# Serveur
PORT=3000

# URL de l'application (pour les liens photos)
APP_URL=https://nestvia.leofranz.fr
